
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: space-around;
  background-color: greenyellow;
}

.box {
  background-color: deeppink;
  width: 20%;
  height: 150px;
  margin: 5%;
  padding: 1%;
  border: 1px solid black;
}

.item-box{
  background-color: skyblue;
  text-align: center;
  align-content: center;
  width: 80%;
  height: 20px;
  margin: 5%;
  padding: 1%;
  border: 1px solid black;
}

#button-box {
  background-color: beige;
  text-align: center;
}

#button-box button {
  background-color: yellow;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  height: 40px;
  font-size: 1.5em;
  border-radius: 30px;
  box-shadow: 0px 2px;
  cursor: pointer;
}

#button-box button:active {
  box-shadow: none;
}



